/crash-reports/
/downloads/
/local/
/logs/
/patchouli_books/
/resourcepacks/
/saves/
/schematics/

.curseclient
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
